<article class="product" id="product-{{id}}">
  <header>
    <img id="thumbnail" src={{thumbnail}} alt={{title}} />
    <div style="display:flex;justify-content: space-between;">
      <p><strong>ID: </strong>{{id}}</p>
      <p>{{title}}</p>
    </div>
  </header>
  <details>
    <main>
      <p>{{description}}</p>
        <table>
        <thead>
          <tr>
            <th>Price</th>
            <th>Code</th>
            <th>Stock</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{price}}</td>
            <td>{{code}}</td>
            <td>{{stock}}</td>
            <td>{{status}}</td>
          </tr>
        </tbody>
      </table>
    </main>


  </details>
</article>